<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head'); %>
</head>

<body>
    <%- include ('./partials/navbar'); %>
        <div class="container">
            <h1>Какого хрена не работает TS?</h1>
            <div><a href="/features">Го ту собака</a></div>
            <div><a href="/download" target="_blank">Скачать собаку</a></div>
        </div>        
</body>

</html>