<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head'); %>
</head>

<body>
    <%- include ('./partials/navbar'); %>
        <div class="container">
            <h1>Какого хрена не работает TS?</h1>
            <div><a href="/features">Го ту собака</a></div>
            <div><button onclick="test()">Подготовить mp3</button></div>
            <div><a href="/downloadMP3" target="_blank">Скачать mp3</a></div>
        </div>

        <script>
            async function test() {
                let response = await fetch("/test")
                let out = await response.json();
                console.log(out);
            }

        </script>
</body>

</html>